.input-style {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 9px;
  font-size: 16px;
  color: #000000;
  outline: none;
  width: 250px;
}

.input-style:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
